.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body {
  width: 100%;
  background-image: url(" bg.svg");
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient();
}
h1 {
  font-size: 3em;
}
p {
  font-weight: bold;
}
